
body {
    background-color: #bababa;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contaier {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 5px;
}

