table {
    background-color: lightskyblue;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    margin-left: auto;
    margin-right: auto;
}
h2 {
    text-align: center;
}
.name {
    font-style: italic;
}
td {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 1.5rem;
}
