body {
    background-color: gray;
}

.main-container {
    padding: 0.5em;
    border: 1px solid black;
    flex-direction: column;
    display: flex;
    align-items: center;
}
.list-item {
    list-style-type:decimal;
}



